@layout LoginLayout
@page "/forgotpassword"
@inject NavigationManager NavigationManager
@inject IStringLocalizer _loc


<HeadContent>
    <meta charset="utf-8">
    <title>NMKR Studio – Reset Password</title>
    <meta content="Reset your NMKR Studio Password." name="description">
    <meta content="NMKR Studio – Reset Password" property="og:title">
    <meta content="Reset your NMKR Studio Password." property="og:description">
    <meta content="https://assets.website-files.com/627424a55a80c8659c58943a/64089f30eec2e5f4ede988f1_opengraphnmkr-p-1080.png" property="og:image">
    <meta content="NMKR Studio – Create and Sell NFTs on Your Own Website" property="twitter:title">
    <meta content="NMKR Studio allows you to create, mint and sell NFTs on your own website using our custom secondary NFT Marketplace &amp; NFT Minting solutions." property="twitter:description">
    <meta content="https://assets.website-files.com/627424a55a80c8659c58943a/64089f30eec2e5f4ede988f1_opengraphnmkr-p-1080.png" property="twitter:image">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://assets.website-files.com/627424a55a80c8659c58943a/62ab442936ea6f91301effc0_nmkr-favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://assets.website-files.com/627424a55a80c8659c58943a/62ab442cff6ad54237cc81e4_nmkr-webclip.png" rel="apple-touch-icon">
    <meta name="theme-color" content="#11f250">
</HeadContent>



<EditForm Model="@fgp" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <MudText Typo="Typo.h4" GutterBottom="true">@_loc["Forgot Password?"]"</MudText>

    <MudText Typo="Typo.subtitle2">
        @_loc["Reset your password by entering your email below."]"
    </MudText>

    <MudTextField Variant="Variant.Outlined" T="string" Label="@_loc[" E-mail"]" @bind-Value="fgp.Username" Required="true" For="@(() => fgp.Username)" Class="my-4"></MudTextField>

    <ReCAPTCHA @ref="reCAPTCHAComponent" SiteKey=@GeneralConfigurationClass.RecaptchaWebsite OnSuccess="OnSuccess" OnExpired="OnExpired" />

    <MudButton DropShadow="false" Variant="Variant.Filled" Color="Color.Tertiary" Class="rounded-pill px-6 py-3 my-6" ButtonType="ButtonType.Submit" Size="Size.Large" Disabled="isSubmitting">@_loc["Reset password"]"</MudButton>
    <MudText Color="@Color.Error" Class="mt-3">
        @errormessage
    </MudText>
    <MudText Color="@Color.Primary" Class="mt-3">
        @notice
    </MudText>
</EditForm>

@code { [CascadingParameter]
    public ConnectionInfo? ConnectionInfo { get; set; }

    [Inject] private IDialogService DialogService { get; set; }


    private ForgotPasswordClass fgp;
    private ReCAPTCHA reCAPTCHAComponent;
    private bool isSubmitting;
    private string errormessage { get; set; } = "";
    private string notice { get; set; } = "";

  //  private EasynftprojectsContext _db = new EasynftprojectsContext(GlobalFunctions.optionsBuilder.Options);

    private bool ValidReCAPTCHA = false;
    protected override void OnInitialized()
    {
        fgp = new();
    }

    private async Task HandleValidSubmit()
    {
        errormessage = "";
        notice = "";
        if (isSubmitting)
            return;

        isSubmitting = true;
        try
        {

            if (!ValidReCAPTCHA)
            {
                errormessage = _loc["Please confirm that you are not a bot."];
                isSubmitting = false;
                return;
            }
            await using var db = new EasynftprojectsContext(GlobalFunctions.optionsBuilder.Options);
            var customer = await (from a in db.Customers
                                  where a.Email == fgp.Username && (a.State == "active" || a.State=="locked" || a.State=="notactive")
                                  select a).FirstOrDefaultAsync();

            // notice = "We have send you an email with instructions how to reset your password. Please check your inbox.";

            if (customer != null)
            {
                string code = GlobalFunctions.GetGuid();
                customer.Confirmationcode = code;
                customer.Pendingpassword = "";
                customer.Pendingpasswordcreated = DateTime.Now;
                await db.SaveChangesAsync();


                SendEmailAsync(code, fgp.Username, customer.Id);

                // NavigationManager.NavigateTo("/login", false);
            }
            bool? result = await DialogService.ShowMessageBox(
                @_loc["Information"],
                @_loc["If you have an account with us, we have sent you an email with instructions to reset your password. Please check your inbox"]);

        }
        finally
        {
            isSubmitting = false;
            NavigationManager.NavigateTo("/login",true);
        }

    }

    public void SendEmailAsync(string code, string email, int userid)
    {
        Dictionary<string, string> d = new()
        {
            {"{ipaddress}", System.Web.HttpUtility.UrlEncode(ConnectionInfo.RemoteIpAddress)}, 
            {"{confirmationcode}", System.Web.HttpUtility.UrlEncode(code)}
        };

        SendMailClass smc = new();
        smc.SendConfirmationMail(ConfirmationTypes.ForgotPassword, @_loc[email], d, userid);
    }


    private void OnSuccess()
    {
        ValidReCAPTCHA = true;
    }

    private void OnExpired()
    {
        ValidReCAPTCHA = false;
    } }
