@if (!string.IsNullOrEmpty(TxId) && activeblockchain!=null)
{
    @for (var index = 0; index < TxIds.Length; index++)
    {
        var txId = TxIds[index];
        <span style="white-space: nowrap;">
            <MudLink Typo="@Typo.body2" Href="@(String.Format(activeblockchain.Explorerurltx, txId))" Target="_blank" Color="@Color.Info">
                @GlobalFunctions.GetStartAndEnd(txId, 6)
            </MudLink>
            <CopyToClipboard content="@txId" name="Transaction Hash"></CopyToClipboard>
        </span>
        @if (index< TxIds.Length - 1)
        {
            <br />
        }
    }
}

@code {
    [Parameter]
    public string TxId { get; set; }
    [Parameter]
    public Blockchain blockchain { get; set; }
    private string ExplorerLink { get; set; }
    private Activeblockchain? activeblockchain;

    public string[] TxIds
    {
        get
        {
            return TxId.Split("|");
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await using var db = new EasynftprojectsContext(GlobalFunctions.optionsBuilder.Options);
        activeblockchain = await db.Activeblockchains.Where(x=>x.Enabled && x.Name==blockchain.ToString()).AsNoTracking().FirstOrDefaultAsync();
     /*   if (activeblockchain != null)
        {
            ExplorerLink = String.Format(activeblockchain.Explorerurltx, Address, ext);
        }
        */

    }
}