@using System.Reflection
@using NMKR.Shared.Classes.Projects
@using NMKR.Shared.Functions.Metadata


<MudGrid Justify="Justify.SpaceBetween" Style="margin-left: -12px">

      @foreach (var template in _templates)
      {
          // Verwende Reflection, um den Wert des statischen Feldes zu erhalten
          FieldInfo fieldInfo = typeof(Icons.Material.Filled).GetField(template.Logo, BindingFlags.Static | BindingFlags.Public);
          string iconValue = fieldInfo != null ? (string)fieldInfo.GetValue(null) : "check";

          <MudItem xs="4">
              <a role="button" class="mud-typography mud-link mud-primary-text mud-typography-body1 cursor-pointer" @onclick="() => CardClicked(template)">
                  <MudCard Elevation="4" >
                    <MudCardHeader Style="@(template.IsSelected?"background-color: #15f150":"background-color: beige")">
                          <CardHeaderAvatar>
                              <MudIcon Icon="@iconValue" Title="@template.Title"/>
                          </CardHeaderAvatar>
                          <CardHeaderContent>
                              <MudText Typo="Typo.body1">@template.Title</MudText>
                          </CardHeaderContent>
                         
                          <CardHeaderActions>
                              <MudTooltip Text="Show Metadata Template" Style="background-color: black" Placement="Placement.Top">
                                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Dark" OnClick="()=>ShowTemplate(template)" />
                            </MudTooltip>
                              @*
                              @if (template.IsSelected)
                              {
                                  <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Primary"/>
                              }
                              else
                              {
                                  <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Transparent"/>
                              }*@
                          </CardHeaderActions>
                      </MudCardHeader>
                      
                      <MudCardContent>
                          <MudText Typo="Typo.body2">@template.Description</MudText>
                      </MudCardContent>
                  </MudCard>
              </a>
          </MudItem>
      }
  </MudGrid>

@code {
    [Parameter]
    public CreateProjectFromTemplateClass Value { get; set; }
    [Parameter]
    public EventCallback<CreateProjectFromTemplateClass> ValueChanged { get; set; }
    [Inject] private IDialogService DialogService { get; set; }

    List<MetadatatemplateToggle> _templates = new ();
    protected override async Task OnInitializedAsync()
    {
        await using var db = new EasynftprojectsContext(GlobalFunctions.optionsBuilder.Options);
        _templates = await (from a in db.Metadatatemplates
            where a.State == "active"
            select new MetadatatemplateToggle() { IsSelected = (Value.Template != null && (Value.Template.Id==a.Id)), Description = a.Description, Id = a.Id, Logo = a.Logo, Metadatatemplate1 = a.Metadatatemplate1, Projecttype = a.Projecttype, State = a.State, Title = a.Title }).ToListAsync();

        StateHasChanged();
    }
    private async Task CardClicked(MetadatatemplateToggle template)
    {
        foreach (var item in _templates)
        {
            item.IsSelected = item.Id == template.Id;
        }

        Value.Template = template;
        await ValueChanged.InvokeAsync(Value);
    }

    private async Task ShowTemplate(MetadatatemplateToggle template)
    {
        MetadataResultClass mrc = new MetadataResultClass() { MetadataCip25 = template.Metadatatemplate1, SourceType = MetadataSourceTypes.Cip25, };
        DialogOptions maxWidth = new() {MaxWidth = MaxWidth.Medium, FullWidth = true, BackdropClick = false};
        var parameters = new DialogParameters { { nameof(ShowMetadataModalWindow.Metadata), mrc }, { nameof(ShowMetadataModalWindow.EnabledCoins), Coin.ADA.ToString() } };
        var dialog = await DialogService.ShowAsync<ShowMetadataModalWindow>("Metadata", parameters, maxWidth);
        var result = await dialog.Result;

        /*
        DialogOptions maxWidth = new() { MaxWidth = MaxWidth.Large, FullWidth = true, BackdropClick = true,  CloseButton = true, CloseOnEscapeKey = true };
        var parameters = new DialogParameters { { nameof(ShowMetadataTemplate.Metadata), template.Metadatatemplate1 }, { nameof(ShowMetadataTemplate.Cip68), !template.Metadatatemplate1.Contains("\"721\"") } };
        var dialog = await DialogService.ShowAsync<ShowMetadataTemplate>("Show Metadata", parameters, maxWidth);
        var result = await dialog.Result;*/
    }

}
