@using NMKR.Shared.Functions.Extensions
@inject ISnackbar Snackbar

<MudContainer MaxWidth="MaxWidth.False" Class="mt-4">

    <MudText Typo="Typo.h3" Color="Color.Dark" Class="mb-4">Pricelist Discounts (@project.Id - @project.Projectname)</MudText>

        <MudTable Items="@pricelistDiscount" Hover="true" Bordered="true" Striped="false" HorizontalScrollbar="true" T="Pricelistdiscount" Loading="@progressIsVisible">
            <HeaderContent>
                <MudTh>Condition</MudTh>
                <MudTh>Policy/Collection ID/Referer</MudTh>
                <MudTh>Discount</MudTh>
                <MudTh>State</MudTh>
                <MudTh>Description</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd>

                    <MudText>@GlobalFunctions.GetEnumDescription(context.Condition.ToEnum<PricelistDiscountTypes>())</MudText>
                </MudTd>
                <MudTd>
                    <ShowBlockchainIcon Blockchain="@(context.Blockchain.ToEnum<Blockchain>())" ShowText="true"/><br/><br/>

                    @if (context.Condition == nameof(PricelistDiscountTypes.couponcode))
                    {
                        @context.Couponcode
                    }
                    else if (context.Condition != nameof(PricelistDiscountTypes.whitlistedaddresses))
                    {
                        @context.Minvalue
                        <span> x </span>
                        <ShowPolicyId PolicyId="@context.Policyid"/>
                        @if (!string.IsNullOrEmpty(context.Policyid2))
                        {
                            <br/>
                            @context.Operator

                            <br/>
                            @context.Minvalue2
                            <span> x </span>
                            <ShowPolicyId PolicyId="@context.Policyid2"/>
                        }

                        @if (!string.IsNullOrEmpty(context.Policyid3))
                        {
                            <br/>
                            @context.Operator

                            <br/>
                            @context.Minvalue2
                            <span> x </span>
                            <ShowPolicyId PolicyId="@context.Policyid3"/>
                        }

                        @if (!string.IsNullOrEmpty(context.Policyid4))
                        {
                            <br/>
                            @context.Operator

                            <br/>
                            @context.Minvalue2
                            <span> x </span>
                            <ShowPolicyId PolicyId="@context.Policyid4"/>
                        }

                        @if (!string.IsNullOrEmpty(context.Policyid5))
                        {
                            <br/>
                            @context.Operator

                            <br/>
                            @context.Minvalue2
                            <span> x </span>
                            <ShowPolicyId PolicyId="@context.Policyid5"/>
                        }
                    }
                </MudTd>
            <MudTd>
                @context.Sendbackdiscount.ToString("F2", CultureInfo.GetCultureInfo("en-US")) %
            </MudTd>
            <MudTd>
                @switch (context.State)
                {
                    case "active":
                        <NMKRChip Color="Color.Success" Size="Size.Small" Variant="Variant.Filled">Active</NMKRChip>
                        break;
                    case "notactive":
                        <NMKRChip Color="Color.Error" Size="Size.Small" Variant="Variant.Filled">Not active</NMKRChip>
                        break;
                }
            </MudTd>
            <MudTd>
                @context.Description
            </MudTd>

            <MudTd Style="text-align: right">
                <MudNavMenu Class="mud-width-full">
                    <MudNavLink @onclick="() => Edit(context.Id)" Icon="@NMKRIcons.Edit">Edit</MudNavLink>
                    <MudNavLink @onclick="() => Delete(context.Id)" Icon="@NMKRIcons.Delete">Delete</MudNavLink>
                </MudNavMenu>
            </MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager HideRowsPerPage="true" />
        </PagerContent>
    </MudTable>
    <MudText Typo="Typo.subtitle1" Class="mt-5 mb-3">Please note that all discounts will only be credited to the customer when the NFT is returned. The customer has to pay the full price, but gets the discount back together with the NFT.</MudText>
    <MudButton DropShadow="false"
               Class="mt-5 mb-5 rounded-pill px-6 py-3"
               Variant="Variant.Filled"
               Color="Color.Tertiary"
               StartIcon="@Icons.Material.Filled.MoneyOff"
               OnClick="AddDiscount">
        Create new discount
    </MudButton>
    <MudButton DropShadow="false" Class="mt-5 mb-5 rounded-pill px-6 py-3"
               Variant="Variant.Filled"
               Size="Size.Large"
               StartIcon="@Icons.Material.Filled.FactCheck"
               Color="Color.Tertiary"
               OnClick="TestCondition">
        Test discount conditions on an address
    </MudButton>
</MudContainer>

@code {
    [Parameter]
    public Nftproject project { get; set; }
    [Inject] private IDialogService DialogService { get; set; }
    private bool progressIsVisible { get; set; }
    private bool isSubmitting;

    private List<Pricelistdiscount> pricelistDiscount = new();


    protected override async Task OnParametersSetAsync()
    {
        await ReloadData();
    }

    private async Task ReloadData()
    {
        progressIsVisible = true;
        StateHasChanged();
        await using var db = new EasynftprojectsContext(GlobalFunctions.optionsBuilder.Options);

        pricelistDiscount = await (from a in db.Pricelistdiscounts
                                   where a.NftprojectId == project.Id
                                   select a).AsNoTracking().ToListAsync();

        progressIsVisible = false;
        StateHasChanged();
    }

    private async Task Delete(int id)
    {
        if (isSubmitting)
            return;

        isSubmitting = true;
        await using var db = new EasynftprojectsContext(GlobalFunctions.optionsBuilder.Options);
        bool? result = await DialogService.ShowMessageBox(
        "Warning",
        "Are you sure you want to delete this discount?",
        yesText: "Delete!", cancelText: "Cancel");
        if (result != null)
        {
            var p = await (from a in db.Pricelistdiscounts
                           where a.Id == id && a.NftprojectId == project.Id
                           select a).FirstOrDefaultAsync();
            if (p != null)
            {
                db.Pricelistdiscounts.Remove(p);
                await db.SaveChangesAsync();
                await ReloadData();
                Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
                Snackbar.Add("Discount deleted", Severity.Success);
            }
            else
            {
                Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
                Snackbar.Add("Internal error - Please contact support", Severity.Error);
            }
        }
        isSubmitting = false;
        StateHasChanged();
    }

    private async Task Edit(int id)
    {
        if (isSubmitting)
            return;

        isSubmitting = true;
        await using var db = new EasynftprojectsContext(GlobalFunctions.optionsBuilder.Options);
        var p = await (from a in db.Pricelistdiscounts
                       where a.Id == id && a.NftprojectId == project.Id
                       select a).AsNoTracking().FirstOrDefaultAsync();
        if (p != null)
        {
            AddPriceDiscountClass pl = new()
                {
                    Id = p.Id,
                    NftProjectId = project.Id,
                    Activated = p.State == "active",
                    Description = p.Description,
                    Condition = p.Condition,
                    Projectname = p.Policyprojectname,
                    SendbackDiscount = p.Sendbackdiscount,
                    WhitelistedAddresses = p.Whitlistaddresses,
                    Operator = p.Operator,
                    Couponcode = p.Couponcode,
                    Referercode = p.Referercode
                };
            pl.AddPolicyid.Add(new AddPriceDiscountPolicies() { PolicyId = p.Policyid, Minvalue = p.Minvalue ?? 0 });
            if (!string.IsNullOrEmpty(p.Policyid2))
                pl.AddPolicyid.Add(new AddPriceDiscountPolicies() { PolicyId = p.Policyid2, Minvalue = p.Minvalue2 ?? 0 });
            if (!string.IsNullOrEmpty(p.Policyid3))
                pl.AddPolicyid.Add(new AddPriceDiscountPolicies() { PolicyId = p.Policyid3, Minvalue = p.Minvalue3 ?? 0 });
            if (!string.IsNullOrEmpty(p.Policyid4))
                pl.AddPolicyid.Add(new AddPriceDiscountPolicies() { PolicyId = p.Policyid4, Minvalue = p.Minvalue4 ?? 0 });
            if (!string.IsNullOrEmpty(p.Policyid5))
                pl.AddPolicyid.Add(new AddPriceDiscountPolicies() { PolicyId = p.Policyid5, Minvalue = p.Minvalue5 ?? 0 });

            var parameters = new DialogParameters { { nameof(EditPriceDiscountModalWindow.discount), pl }, {nameof(EditPriceDiscountModalWindow.project),project} };
            DialogOptions maxWidth = new() { MaxWidth = MaxWidth.Large, FullWidth = true, BackdropClick = false };
            var dialog = await DialogService.ShowAsync<EditPriceDiscountModalWindow>("Edit price discount", parameters, maxWidth);
            var result = await dialog.Result;

            if (result != DialogResult.Cancel())
            {
                await ReloadData();
            }
        }
        isSubmitting = false;
        StateHasChanged();
    }

    private async Task AddDiscount()
    {
        if (isSubmitting)
            return;

        isSubmitting = true;

        AddPriceDiscountClass pl = new() { Id = null, NftProjectId = project.Id, Operator = "OR" };
        pl.AddPolicyid.Add(new AddPriceDiscountPolicies() { PolicyId = "", Minvalue = 1 });

        var parameters = new DialogParameters { { nameof(EditPriceDiscountModalWindow.discount), pl }, { nameof(EditPriceDiscountModalWindow.project), project } };
        DialogOptions maxWidth = new() { MaxWidth = MaxWidth.Large, FullWidth = true, BackdropClick = false };
        var dialog = await DialogService.ShowAsync<EditPriceDiscountModalWindow>("Add price discount", parameters, maxWidth);
        var result = await dialog.Result;

        if (result != DialogResult.Cancel())
        {
            await ReloadData();
        }

        isSubmitting = false;
        StateHasChanged();
    }

    private async Task TestCondition()
    {
        if (isSubmitting)
            return;

        isSubmitting = true;

        var parameters = new DialogParameters { { nameof(AskForAdaAddressTestDiscountCondtionsModalWindow.Projectid), project.Id } };
        DialogOptions maxWidth = new() { MaxWidth = MaxWidth.Large, FullWidth = true, BackdropClick = false };
        var dialog = await DialogService.ShowAsync<AskForAdaAddressTestDiscountCondtionsModalWindow>("Test discounts", parameters, maxWidth);
        var result = await dialog.Result;

        isSubmitting = false;
    }



}
