
<table Class="pt-4 pb-4 pr-4 pl-4 mb-10" width="100%">
    <tr>
        <td width="60%"><MudAlert Severity="Severity.Info">We only support selected Google fonts</MudAlert></td>
        <td></td>
    </tr>
    <tr>
        <td width="60%">
            <MudSelect HelperText="@(Setting.Mandantory ? "" : "(optional)")" T="string" Label="@Setting.Humanreadablesettingsname" Variant="Variant.Text" @bind-Value="SelectValue">
                @foreach (var item in _listEntries)
                {
                    <MudSelectItem Value="@item.FontUrl">@item.FontName</MudSelectItem>
                }
            </MudSelect>
        </td>
        <td>
            <div class="ml-10">
                <MudText Typo="Typo.body1">
                    @Setting.Description
                </MudText>
            </div>
        </td>
    </tr>
</table>

@code {
    [Parameter]
    public Storesetting Setting { get; set; }
    [Parameter]
    public string SelectValue
    {
        get => _selectValue;
        set
        {
            if (value != _selectValue)
            {
                _selectValue = value;
                SelectValueChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public EventCallback<string> SelectValueChanged { get; set; }
    private string _selectValue = "";

    private List<FontListClass> _listEntries = new List<FontListClass>();

    protected override async Task OnParametersSetAsync()
    {
        if (_listEntries.Any())
            return;

        using var reader = new StringReader(Setting.Listvalues);
        using var csv = new CsvReader(reader, CultureInfo.InvariantCulture);
        _listEntries = csv.GetRecords<FontListClass>().ToList();

        if (_selectValue == "" && _listEntries.Any())
        {
            _selectValue = _listEntries[0].FontUrl;
        }
        StateHasChanged();
    }
}